.jumbotron{
    background-color: #222;
    color: #fff;
    border-radius: 0 !important;
}
body{
    background-color: #eee;
}
section{
    padding: 30px; 
    background-color: #fff;  
    border-radius: 6px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}